<!-- Template for the editors to view and add actors to the list -->
<html>

<body>
<style>
    body { background-color: lightblue; }
</style>
<style>
    table {
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
    }
</style>
<div><b> Опубликуйте обзор фильма: </b></div>
<div>
    <form method="post">
        <input type="text" name="firstame" placeholder="Имя"/>
        <input type="text" name="lastname" placeholder="Фамилия"/>
        <input type="text" name="age" placeholder="Возраст"/>
        <!--<p><input type="text" name="bio" placeholder="Биография"/></p>-->
        <p> <textarea placeholder="Биография" name="bio" rows="4" cols="55" ></textarea></p>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />

        <button type="submit">Опубликовать</button>
    </form>
</div>
<hr>
<div><b> Список актёров:</b> </div>
{{#actors}}
<table class="table ">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Имя</th>
        <th scope="col">Возраст:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{firstame}} {{lastname}}</td>
        <td>{{age}}<br></td>
    </tr>
    </tbody>
</table>
<p>Биография</p>
<p><i>{{bio}}</i></p>
<hr>
{{/actors}}

<form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>

<p><a href="/" > На главную </a></p>
</body>
</html>

