<!-- Тимплейт пользователя для просмотра и внесения фильма в список -->
<html>

<body>
<div><b> Опубликуйте обзор фильма: </b></div>
<div>
    <form method="post">
        <input type="text" name="firstame" placeholder="Имя"/>
        <input type="text" name="lastname" placeholder="Фамилия"/>
        <input type="text" name="age" placeholder="Возраст"/>
        <p><input type="text" name="bio" placeholder="Биография"/></p>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />

        <button type="submit">Опубликовать</button>
    </form>
</div>

<div> Список актёров </div>
{{#actors}}
        <b>{{id}}</b>
        <span><b>{{firstame}} {{lastname}}</b></span>
        <span><b>,  возраст: {{age}}</b></span>
        <p>Биография:</p>
        <p><i>{{bio}}</i></p>
{{/actors}}

    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>

<p><a href="/" > На главную </a></p>
</body>
</html>

