<!-- Template for the editors to view and add actors to the list -->
<html>

<body>
<style>
    body { background-color: lightblue; }
</style>
<style>
    table {
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
    }
</style>
<div><b> Удаление фильма по ID </b></div>
<div>
    <form method="post" action="/del-film">
        <input type="text" name="id" placeholder="Введите id"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Удалить</button>
    </form>
    {{#error}}
        {{error}}
    {{/error}}
</div>

<hr>
<div><b> Список фильмов:</b> </div>
{{#films}}
<table class="table ">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Название</th>
        <th scope="col">В ролях:</th>
        <th scope="col">Год</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{title}}</td>
        <td>{{mainActor}}<br></td>
        <td>{{year}}</td>
    </tr>
    </tbody>
</table>
<p>Описание:</p>
<p><i>{{filmDescrip}}</i></p>
<hr>
{{/films}}

<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
</form>

<p><a href="/" > На главную </a></p>
</body>
</html>