<!-- Template for the users to search for movies -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<body>
<style>
    body { background-color: lightblue; }
</style>
<style>
    table {
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
    }
</style>
<div><b> Поиск фильма </b></div>
<form method="get">
    <input type="text" name="filter" placeholder="Веедите значение" />
    <label><input type="radio" name="button" value="1"> по названию</label>
    <label><input type="radio" name="button" value="2"> по году</label>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type="submit">Поиск</button>
</form>

<div> Найденные фильмы </div>

{{#films}}
<table class="table ">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Название</th>
        <th scope="col">В ролях:</th>
        <th scope="col">Год</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{title}}</td>
        <td>{{mainActor}}<br></td>
        <td>{{year}}</td>
    </tr>
    </tbody>
</table>
<p>Описание:</p>
<p><i>{{filmDescrip}}</i></p>
<hr>
{{/films}}
<p><a href="/" > На главную </a></p>
</body>
</html>
