<!-- Тимплейт пользователя для просмотра и внесения фильма в список -->
<html>

<body>
<div><b> Опубликуйте обзор фильма: </b></div>
<div>
    <form method="post">
        <input type="text" name="title" placeholder="Название фильма"/>
        <input type="text" name="year" placeholder="Год выхода"/>
        <p><input type="text" name="filmDescrip" placeholder="Описание"/></p>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <hr>
        <div> Выберете актёров, сыгравших в главных ролях:
            <table>
                {{#actors}}
                    <tr>
                        <td><input type="checkbox" value="{{firstame}} {{lastname}}" name="mainActor"></td>
                        <td>{{firstame}} {{lastname}}</td>
                    </tr>
                {{/actors}}
            </table>
        </div>
        <button type="submit">Опубликовать</button>
    </form>
    <p><a href="/add-film" > Обновить форму </a></p>
</div>
<hr>


<div> Список фильмов </div>
{{#films}}
        <b>{{id}}</b>
        <span><b>{{title}}</b></span>
        <span><b>,  год: {{year}}</b></span>
        <p><b> В ролях: {{mainActor}}</b></p>
        <p>Описание:</p>
        <p><i>{{filmDescrip}}</i></p>
        <hr>
{{/films}}

    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>


<p><a href="/" > На главную </a></p>
</body>
</html>

