<!-- Тимплейт пользователя для поиска фильмов -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<body>
<div><b> Поиск фильма </b></div>
<form method="get">
    <input type="text" name="filter" placeholder="Веедите значение" />
    <label><input type="radio" name="button" value="1"> по названию</label>
    <label><input type="radio" name="button" value="2"> по году</label>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type="submit">Поиск</button>

</form>

<div> Найденные фильмы </div>

{{#films}}
    <span><b>{{title}}</b></span>
    <span><b>, {{year}} год</b></span>
    <p>Описание:</p>
    <p><i>{{filmDescrip}}</i></p>
{{/films}}
<p><a href="/" > На главную </a></p>
</body>
</html>
