<!-- Тимплейт пользователя для поиска фильмов -->

<html>

<body>
<div><b> Поиск фильма </b></div>
<form method="get">
    <input type="text" name="filter" placeholder="Название фильма" />
    <button type="submit">Поиск</button>
</form>

<div> Найденные фильмы </div>

{{#films}}
    <span><b>{{title}}</b></span>
    <span><b>, {{year}} год</b></span>
    <p>{{filmDescrip}}</p>
{{/films}}

</body>
</html>
