<!-- Template for the editors to search for movies -->
<html>
<body>
<!--<meta http-equiv="refresh" content="1">-->
<style>
    body { background-color: lightblue; }
</style>
<style>
    table {
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
    }
</style>
<div><b> Опубликуйте обзор фильма: </b></div>
<div>
    <form method="post">
        <input type="text" name="title" placeholder="Название фильма"/>

        {{#error}}
            <h3><a><b><i> {{error}}</i></b></a></h3>
        {{/error}}

        <input type="text" name="year" placeholder="Год выхода"/>
        <!--<p><input type="text" name="filmDescrip"  placeholder="Описание" /></p>-->
        
        <p><textarea placeholder="Описание" name="filmDescrip" rows="4" cols="55" ></textarea></p>

         Выберете актёров, сыгравших в главных ролях:
            <table>
                {{#actors}}
                    <tr>
                        <td><input type="checkbox" value="{{firstame}} {{lastname}}" name="mainActor"></td>
                        <td>{{firstame}} {{lastname}}</td>
                    </tr>
                {{/actors}}
            </table>

        <button type="submit">Опубликовать</button>

        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>
    <p><a href="/add-film" > Обновить страницу и списки </a></p>
</div>
<hr>
<div> <b>Список фильмов </b></div>
<hr>
{{#films}}

    <table class="table ">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Название</th>
        <th scope="col">В ролях:</th>
        <th scope="col">Год</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{title}}</td>
        <td>{{mainActor}}<br></td>
        <td>{{year}}</td>
    </tr>
    </tbody>
    </table>
         <p>Описание:</p>
        <p><i>{{filmDescrip}}</i></p>
        <hr>
{{/films}}

    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>
<p><a href="/" > На главную </a></p>
</body>

</html>

