<!-- Start page-->

<!DOCTYPE HTML>
<head>
    <title>Сервис по поиску и рецензированию фильмов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div><h1>Welcome to FilmSearcher!!!</h1>
    <style>
        body{text-align: center}
    </style>
</div>

<p><h2><a href="/find-film" > Найти фильм </a></h2></p>

<h3><a><b><i>Для редакторов:</i></b></a></h3>
<p><h2><a href="/add-film" > Добавить фильм </a></h2></p>
<p><h2><a href="/add-actor" > Добавить актёра</a></h2></p>
<style>
    body { background-color: lightblue; }
</style>
</body>
</html>
