<!-- Стартовая страница-->

<!DOCTYPE HTML>
<head>
    <title>Сервис по поиску и рецензированию фильмов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div>Welcome to FilmSearcher!!!</div>

<p><a href="/find-film" > Найти фильм </a></p>

<a>Для редакторов:</a>
<p><a href="/add-film" > Добавить фильм </a></p>
<p><a href="/add-actor" > Добавить актёра</a></p>
</body>
</html>
