<!-- Стартовая страница-->

<!DOCTYPE HTML>
<head>
    <title>Сервис по поиску и рецензированию фильмов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Welcome to FilmSearcher!!!</div>
<a href="/add-film" > Добавить фильм </a>
<p><a href="/find-film" > Найти фильм </a></p>
</body>
</html>
