<!-- Login page -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Страница авторизации </title>
</head>
<body>
<b>Ведите логин и пароль:</b>
<form action="/login" method="post">
    <div><label> Логин : <input type="text" name="username"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Sign In"/></div>
</form>
<p><a href="/" > На главную </a></p>
<p><a href="/registration" > Зарегистрироваться </a></p>
</body>
</html>