<!-- Registration page -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Страница регистрации </title>
</head>
<body>
<b>Зарегистрируйтесь:</b>
<form action="/registration" method="post">
    <div><label> Придумайте логин:&nbsp;&nbsp; <input type="text" name="username"/> </label></div>
    <div><label> Придумайте пароль: <input type="password" name="password"/> </label></div>
    <div><label> Имя : &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<input type="text" name="firstname"/> </label></div>
    <div><label> Фамилия :&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<input type="text" name="lastname"/> </label></div>
    <div><label> e-mail :&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp; <input type="text" name="email"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
<p><a href="/" > На главную </a></p>
</body>
</html>